@import url("../../main.css");

video {
	border-radius: 10px;
}

.main_page_rightSide-contents--videos {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;

}

.main_page_rightSide-contents--video-item {
	width: 300px;
	height: auto;
	margin: 15px 30px;
}

.main_page_rightSide-contents--video-title {
	width: 100%;
	color: white;
	font-size: 18px;
	font-family: 'Cuprum', sans-serif;
	margin-top: 5px;
	margin-left: 7px;
}

/* адаптив для раздела видео */
@media (max-width: 1305px) {
	.main_page_rightSide-contents--video-item {
		margin: 15px 10px;
	}
	
}